[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "terminal"]
	path = terminal
	url = git@github.com:antonk52/Spacegray-OSX-Terminal-Theme
