[submodule "shell/spacegray"]
	path = shell/spacegray
	url = https://github.com/tannadev/Spacegray-OSX-Terminal-Theme.git
[submodule "xcode/spacegray"]
	path = xcode/spacegray
	url = https://github.com/zdne/spacegray-xcode.git
[submodule "vundle"]
	path = vim/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
