"*":
  "atom-browser":
    viewShowBackground: false
  "atom-ide-datatip":
    showDataTipOnCursorMove: false
  "atom-material-ui":
    colors:
      abaseColor: "#ffa726"
      accentColor: "#9f6918"
      predefinedColor: "Orange"
    fonts: {}
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
  "atom-package-deps":
    ignored: [
      "atom-ide-ui"
      "go-plus"
      "ide-rust"
    ]
  "atom-soft-tabs-length":
    softTabsLength: "2"
  core:
    autoHideMenuBar: true
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "ayu-mirage-atom-syntax"
    ]
  editor:
    fontFamily: "Fira Code, Hack Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
  "exception-reporting":
    userId: "c3568722-65a6-407f-bef4-daed9bc79bcf"
  "file-icons":
    coloured: false
  fonts:
    fontFamily: "FiraCode"
    secondaryFonts: "Hack"
  "ide-go":
    customServerPath: "/usr/local/go/bin/go-langserver"
    diagnosticsEnabled: true
  "ide-rust":
    rlsToolchain: "stable"
  "ide-typescript":
    returnTypeInAutocomplete: "right"
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    panelHeight: 176
    panelRepresents: "Entire Project"
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "lens-mode": true
      "lens-modeDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "minimap-linter": {}
  welcome:
    showOnStartup: false
