"*":
  "atom-package-deps":
    ignored: [
      "prettier-atom"
    ]
  core:
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "gruvbox-dark-ui"
      "gruvbox"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "'Fira Code', Hack Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
  "exception-reporting":
    userId: "c3568722-65a6-407f-bef4-daed9bc79bcf"
  "ide-rust":
    rlsToolchain: "stable"
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
