"*":
  "atom-browser":
    viewShowBackground: false
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    "atom-ide-terminal":
      fontFamily: "Fira Mono, Source Code Pro, Hack"
  core:
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "gruvbox-dark-ui"
      "gruvbox"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code, Hack Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
  "exception-reporting":
    userId: "c3568722-65a6-407f-bef4-daed9bc79bcf"
  "file-icons":
    coloured: false
  fonts:
    fontFamily: "FiraCode"
    secondaryFonts: "Hack"
  "ide-golang": {}
  "ide-rust":
    rlsToolchain: "stable"
  minimap:
    absoluteMode: true
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
